In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
'''Importing January 2020 Files 
Neighbourhoods = Neighbourhood list for geo filter. Sourced from city or open source GIS files.
Reviews = Summary Review data and Listing ID (to facilitate time based analytics and visualisations linked to a listing)
Listings = 	Summary information and metrics for listings in Portland (good for visualisations).

Reviews_content = Detailed Review Data for listings in Portland
Calendar_content = Detailed Calendar Data for listings in Portland
Listing_content = Detailed Listings data for Portland'''

neighborhoods = pd.read_csv('C:/Users/Jing/Desktop/Galvanize_Capstones/JingWu-Capstone2/DATA/neighborhoods.csv')
reviews = pd.read_csv('C:/Users/Jing/Desktop/Galvanize_Capstones/JingWu-Capstone2/DATA/Jan2020reviews.csv')
listings = pd.read_csv('C:/Users/Jing/Desktop/Galvanize_Capstones/JingWu-Capstone2/DATA/Jan2020listings.csv')

# Importing the csv.gz files
reviews_content = pd.read_csv('C:/Users/Jing/Desktop/Capstone2_Larger Data/Jan2020reviews.csv.gz')
calendar_content = pd.read_csv('C:/Users/Jing/Desktop/Galvanize_Capstones/JingWu-Capstone2/DATA/calendar.csv.gz')
listings_content = pd.read_csv('C:/Users/Jing/Desktop/Galvanize_Capstones/JingWu-Capstone2/DATA/Jan2020listings.csv.gz')

#Potentially don't need reviews, just need reviews count

### Cleaning listings

In [3]:
# Dropping neighbourhood_group and other columns, renaming neighbourhood to neighborhood

listings.columns
listings.drop(columns=['neighbourhood_group','last_review','reviews_per_month','minimum_nights'],inplace=True)
listings = listings.rename(columns={'neighbourhood': 'neighborhood'})

In [4]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4578 entries, 0 to 4577
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              4578 non-null   int64
 1   name                            4578 non-null   object
 2   host_id                         4578 non-null   int64
 3   host_name                       4578 non-null   object
 4   neighborhood                    4578 non-null   object
 5   latitude                        4578 non-null   float64
 6   longitude                       4578 non-null   float64
 7   room_type                       4578 non-null   object
 8   price                           4578 non-null   int64
 9   number_of_reviews               4578 non-null   int64
 10  calculated_host_listings_count  4578 non-null   int64
 11  availability_365                4578 non-null   int64
dtypes: float64(2), int64(6), object(4)
memory usage: 429.3+ KB

In [5]:
# Top 5 number of Airbnbs by neighborhood
pd.set_option('display.max_rows', 10)
listings.neighborhood.value_counts().head(5)

Richmond              242
Portland Downtown     217
Northwest District    197
Buckman               189
Pearl                 179
Name: neighborhood, dtype: int64

In [10]:
# Shows that hosts will have more than one listing. 
# Host_id 171371 has 3 listings, one of them is not available. (availability_365 is zero)
listings.loc[listings.host_id == 171371]

,id,name,host_id,host_name,neighborhood,latitude,longitude,room_type,price,number_of_reviews,calculated_host_listings_count,availability_365
3,39938,Friendly Guesthouse / 10 Min to Airport & Down...,171371,Sarah,Woodlawn,45.57428,-122.64594,Private room,29,274,3,0
642,5242273,Nice Guest House - 10 Min to Airport & Downtown,171371,Sarah,Woodlawn,45.57120,-122.64356,Private room,44,393,3,184
643,5242296,Friendly Guesthouse / 10 Min to Airport & Down...,171371,Sarah,Woodlawn,45.57049,-122.65005,Private room,29,294,3,29

In [8]:
listings.loc[listings.availability_365 == 0]

,id,name,host_id,host_name,neighborhood,latitude,longitude,room_type,price,number_of_reviews,calculated_host_listings_count,availability_365
3,39938,Friendly Guesthouse / 10 Min to Airport & Down...,171371,Sarah,Woodlawn,45.57428,-122.64594,Private room,29,274,3,0
36,204002,NW Nob Hill Serene City Bedroom,1001311,Alleyn,Northwest District,45.53445,-122.70696,Private room,75,498,4,0
43,229291,NW Nob Hill Neighborhood Bedroom,1001311,Alleyn,Northwest District,45.53351,-122.70633,Private room,65,724,4,0
58,332420,Classic SE Portland: Walkable to Everything!,1206902,LeBrie,Sunnyside,45.51760,-122.63055,Entire home/apt,175,31,1,0
65,386687,The Heart of Multnomah Village,532509,Maria & Kenyon,Multnomah,45.47013,-122.71409,Entire home/apt,120,205,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4418,40171612,Charlie's South Tabor Home,158339384,Diane,South Tabor,45.49914,-122.58801,Private room,165,1,1,0
4420,40177713,"Philoxenia, call Portland home.",205763355,Jana,Overlook,45.55977,-122.68226,Entire home/apt,75,0,2,0
4512,40516306,Attractive bedroom/bath SW Portland getaway,5062134,Diana,South Portland,45.48944,-122.68023,Private room,60,0,1,0
4514,40529877,Luxury condo with amazing city and river views,308526791,Orlena,South Portland,45.49733,-122.66948,Entire home/apt,79,0,1,0
4555,40963382,1 BEDROOM @ WORLDMARK RESORT IN PORTLAND! SLEE...,12057949,Holly,Old Town/Chinatown,45.52165,-122.67241,Private room,499,0,1,0

In [8]:
pd.set_option('display.max_rows', 5)
listings.neighborhood.value_counts()

Richmond                   219
Portland Downtown          214
                          ...
Ardenwald-Johnson Creek      2
Woodland Park                1
Name: neighborhood, Length: 93, dtype: int64

In [9]:
listings = listings.loc[(listings.neighborhood == 'Richmond')|(listings.neighborhood == 'Portland Downtown')|
              (listings.neighborhood == 'Northwest District')|
              (listings.neighborhood == 'Buckman')|
              (listings.neighborhood == 'Pearl')|
              (listings.neighborhood == 'Old Town/Chinatown')|
              (listings.neighborhood == 'South Portland')|
              (listings.neighborhood == 'Goose Hollow')|
              (listings.neighborhood == 'Lloyd')]

In [10]:
# This host_id = 8534462 is a corporation that is renting out the airbnbs, 253 properties in total
listings.loc[listings.calculated_host_listings_count == listings.calculated_host_listings_count.max()].head(2)

,id,name,host_id,host_name,neighborhood,latitude,longitude,room_type,price,number_of_reviews,calculated_host_listings_count,availability_365
3376,33017383,Pearl District Condos 1 BD 6,8534462,Corp Condos & Apts,Pearl,45.53173,-122.68647,Entire home/apt,190,1,253,31
3377,33039528,Market Street Condos Studio 4,8534462,Corp Condos & Apts,Portland Downtown,45.51550,-122.68636,Entire home/apt,180,12,253,252

In [11]:
# Person is investing in an entire space, no shared rooms or hotel rooms
listings.room_type.value_counts()

Entire home/apt    925
Private room       182
Shared room          1
Hotel room           1
Name: room_type, dtype: int64

In [12]:
listings = listings.loc[(listings.room_type == 'Entire home/apt') | (listings.room_type == 'Private room')]
listings.room_type.value_counts()
listings.reset_index(drop=True)

,id,name,host_id,host_name,neighborhood,latitude,longitude,room_type,price,number_of_reviews,calculated_host_listings_count,availability_365
0,16688,"Beautiful condo in downtown Pearl, NW Portland",64840,Ashish,Pearl,45.52542,-122.68557,Entire home/apt,275,78,1,362
1,37676,Mt. Hood View in the Pearl District,162158,Paul,Pearl,45.52555,-122.68193,Entire home/apt,125,123,2,335
...,...,...,...,...,...,...,...,...,...,...,...,...
1105,41179269,"Center of SE PDX, beautiful 2 bedroom suite",13821627,Karen,Richmond,45.50866,-122.62081,Entire home/apt,99,0,1,31
1106,41181567,BEST NEIGHBORHOOD IN TOWN!,322907763,Sarah,Northwest District,45.53539,-122.70207,Entire home/apt,65,0,1,173

In [13]:
listings.to_csv('listings_cleaned.csv',index=False)
# New listings file, deleted columns, reset index, updated neighborhoods, room_type, and availability_365

### Cleaning listings_content

In [14]:
listings_content.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       ...
       'instant_bookable', 'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object', length=106)

In [15]:
listings_content.drop(columns=['listing_url','scrape_id','last_scraped','name','availability_365',
                               'experiences_offered','thumbnail_url','medium_url','picture_url','xl_picture_url',
                               'host_about','host_thumbnail_url','host_picture_url','neighborhood_overview','host_listings_count',
                               'host_neighbourhood','neighbourhood_cleansed','neighbourhood_group_cleansed',
                              'city','state','country_code','country','latitude','longitude','is_location_exact','bed_type',
                              'host_id','host_url','host_since','host_total_listings_count','street','neighbourhood','square_feet','minimum_minimum_nights',
                               'maximum_minimum_nights','minimum_maximum_nights','maximum_maximum_nights','smart_location',
                              'reviews_per_month','jurisdiction_names','requires_license','license','calculated_host_listings_count_shared_rooms',
                               'calculated_host_listings_count_private_rooms','calculated_host_listings_count_entire_homes',
                              'calculated_host_listings_count','first_review','last_review','number_of_reviews_ltm','calendar_last_scraped','availability_90',
                               'availability_60','availability_30','maximum_nights_avg_ntm','minimum_nights_avg_ntm',
                              'host_name','require_guest_profile_picture','require_guest_phone_verification','host_location','market','notes','zipcode',
                               'number_of_reviews','host_acceptance_rate','minimum_nights','maximum_nights','has_availability','calendar_updated'],inplace=True)

In [16]:
listings_content.drop(columns=['review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value','host_verifications', 'weekly_price',
 'monthly_price','room_type'],inplace=True)

In [17]:
listings_content.columns

Index(['id', 'summary', 'space', 'description', 'transit', 'access',
       'interaction', 'house_rules', 'host_response_time',
       'host_response_rate', 'host_is_superhost', 'host_has_profile_pic',
       'host_identity_verified', 'property_type', 'accommodates', 'bathrooms',
       'bedrooms', 'beds', 'amenities', 'price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people',
       'review_scores_rating', 'instant_bookable', 'is_business_travel_ready',
       'cancellation_policy'],
      dtype='object')

In [18]:
listings_content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4578 entries, 0 to 4577
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        4578 non-null   int64
 1   summary                   4452 non-null   object
 2   space                     3888 non-null   object
 3   description               4555 non-null   object
 4   transit                   3591 non-null   object
 5   access                    3290 non-null   object
 6   interaction               3833 non-null   object
 7   house_rules               3730 non-null   object
 8   host_response_time        4207 non-null   object
 9   host_response_rate        4207 non-null   object
 10  host_is_superhost         4578 non-null   object
 11  host_has_profile_pic      4578 non-null   object
 12  host_identity_verified    4578 non-null   object
 13  property_type             4578 non-null   object
 14  accommodates              4578 non-null   int64
 15  bathrooms                 4577 non-null   float64
 16  bedrooms                  4571 non-null   float64
 17  beds                      4577 non-null   float64
 18  amenities                 4578 non-null   object
 19  price                     4578 non-null   object
 20  security_deposit          3863 non-null   object
 21  cleaning_fee              4286 non-null   object
 22  guests_included           4578 non-null   int64
 23  extra_people              4578 non-null   object
 24  review_scores_rating      4039 non-null   float64
 25  instant_bookable          4578 non-null   object
 26  is_business_travel_ready  4578 non-null   object
 27  cancellation_policy       4578 non-null   object
dtypes: float64(4), int64(3), object(21)
memory usage: 1001.6+ KB

In [19]:
values = {'space':'', 'summary':'', 'transit':'', 'access':'', 'interaction':'', 'house_rules': '', 'host_reponse_time': '', 
         'host_response_rate':''}
listings_content = listings_content.fillna(value=values)

In [20]:
listings_content = listings_content.loc[(listings_content.bedrooms >= 1) & (listings_content.bathrooms >= 1) & (listings_content.beds >= 1)]

In [14]:
listings_content.loc[(listings_content.id == 39938) | (listings_content.id == 5242296)]

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
3,39938,https://www.airbnb.com/rooms/39938,20200102185902,2020-01-02,Friendly Guesthouse / 10 Min to Airport & Down...,Charming oasis in one of Portland's most popul...,We were recently featured in Portland Monthly ...,Charming oasis in one of Portland's most popul...,none,"We are located near the Alberta Arts District,...",...,t,f,moderate,f,f,3,0,3,0,4.68
643,5242296,https://www.airbnb.com/rooms/5242296,20200102185902,2020-01-02,Friendly Guesthouse / 10 Min to Airport & Down...,Charming oasis in one of Portland's most popul...,Our friendly guest house has private rooms and...,Charming oasis in one of Portland's most popul...,none,We are located in a residential neighborhood i...,...,t,f,moderate,f,f,3,0,3,0,5.03

In [22]:
# Replacing all the nulls with empty string
values1 = {'description':'', 'host_response_time':'', 'security_deposit':'', 'cleaning_fee':'', 'review_scores_rating':''}
listings_content = listings_content.fillna(value=values1)

In [23]:
listings_content.loc[listings_content.host_identity_verified == 't'].head(2)
# host_identity_verified is either True or False

,id,summary,space,description,transit,access,interaction,house_rules,host_response_time,host_response_rate,...,amenities,price,security_deposit,cleaning_fee,guests_included,extra_people,review_scores_rating,instant_bookable,is_business_travel_ready,cancellation_policy
1,29931,This house is wonderfully located near downtow...,This house is wonderfully located near downtow...,This house is wonderfully located near downtow...,There are 2 bus stops a 5 minute walk away.,There is a gym and community center nearby for...,I live in a separate unit on the same lot to p...,"For renters up to 1 week, a cleaning fee of $1...",within a day,100%,...,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",$200.00,,$150.00,4,$50.00,94,f,f,strict_14_with_grace_period
3,39938,Charming oasis in one of Portland's most popul...,We were recently featured in Portland Monthly ...,Charming oasis in one of Portland's most popul...,PUBLIC TRANSIT is accessible and convenient. W...,Help Yourself! - Coffee & Tea Bar - Instant Br...,You host Sarah lives onsite and will be happy ...,I do not accept reservations for third parties...,within an hour,100%,...,"{Wifi,""Smoking allowed"",""Pets live on this pro...",$29.00,$0.00,$20.00,1,$10.00,98,t,f,moderate

In [24]:
pd.set_option('display.max_rows', 35)
listings_content.property_type.value_counts()

House                 1591
Apartment              893
Guest suite            542
Guesthouse             257
Condominium            199
Bungalow               158
Townhouse               90
Boutique hotel          81
Cottage                 28
Loft                    28
Tiny house              22
Bed and breakfast       14
Camper/RV                9
Hostel                   9
Houseboat                6
Cabin                    5
Serviced apartment       5
Hotel                    4
Villa                    4
Treehouse                3
Boat                     2
Bus                      2
Other                    2
In-law                   1
Resort                   1
Yurt                     1
Earth house              1
Hut                      1
Farm stay                1
Dome house               1
Name: property_type, dtype: int64

In [25]:
listings_content = listings_content.loc[(listings_content.property_type == 'House') | (listings_content.property_type == 'Apartment') | (listings_content.property_type == 'Guest suite')|
                    (listings_content.property_type == 'Guesthouse') | (listings_content.property_type == 'Condominium')
                    | (listings_content.property_type == 'Bungalow') | (listings_content.property_type == 'Townhouse')|
                    (listings_content.property_type == 'Cottage') | (listings_content.property_type == 'Loft')| 
                    (listings_content.property_type == 'Tiny house') | (listings_content.property_type == 'Bed and breakfast')]

In [30]:
listings_content = listings_content.rename(columns={'id': 'listing_id'}).reset_index(drop=True)
listings_content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3822 entries, 0 to 3821
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   listing_id                3822 non-null   int64
 1   summary                   3822 non-null   object
 2   space                     3822 non-null   object
 3   description               3822 non-null   object
 4   transit                   3822 non-null   object
 5   access                    3822 non-null   object
 6   interaction               3822 non-null   object
 7   house_rules               3822 non-null   object
 8   host_response_time        3822 non-null   object
 9   host_response_rate        3822 non-null   object
 10  host_is_superhost         3822 non-null   object
 11  host_has_profile_pic      3822 non-null   object
 12  host_identity_verified    3822 non-null   object
 13  property_type             3822 non-null   object
 14  accommodates              3822 non-null   int64
 15  bathrooms                 3822 non-null   float64
 16  bedrooms                  3822 non-null   float64
 17  beds                      3822 non-null   float64
 18  amenities                 3822 non-null   object
 19  price                     3822 non-null   object
 20  security_deposit          3822 non-null   object
 21  cleaning_fee              3822 non-null   object
 22  guests_included           3822 non-null   int64
 23  extra_people              3822 non-null   object
 24  review_scores_rating      3822 non-null   object
 25  instant_bookable          3822 non-null   object
 26  is_business_travel_ready  3822 non-null   object
 27  cancellation_policy       3822 non-null   object
dtypes: float64(3), int64(3), object(22)
memory usage: 836.2+ KB

In [31]:
listings_content.to_csv('listingscontent_cleaned.csv',index=False)

In [32]:
listings_content.head(1)

,listing_id,summary,space,description,transit,access,interaction,house_rules,host_response_time,host_response_rate,...,amenities,price,security_deposit,cleaning_fee,guests_included,extra_people,review_scores_rating,instant_bookable,is_business_travel_ready,cancellation_policy
0,16688,"Newly remodeled 2 bedroom (3 queen beds), 2 fu...","- Fully furnished condo with high ceilings, bi...","Newly remodeled 2 bedroom (3 queen beds), 2 fu...","Walking distance to the public Light Rail, bus...",Our guests enjoy entire home to themselves. Di...,"Our guests can reach us via phone, text or email.",,within an hour,100%,...,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",$275.00,$500.00,$95.00,6,$25.00,97,t,f,moderate

### Cleaning calendar_content

In [11]:
calendar_content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670970 entries, 0 to 1670969
Data columns (total 7 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   listing_id      1670970 non-null  int64
 1   date            1670970 non-null  object
 2   available       1670970 non-null  object
 3   price           1670970 non-null  object
 4   adjusted_price  1670970 non-null  object
 5   minimum_nights  1670970 non-null  int64
 6   maximum_nights  1670970 non-null  int64
dtypes: int64(3), object(4)
memory usage: 89.2+ MB

In [12]:
calendar_content.loc[calendar_content.listing_id == 39938]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
1095,39938,2020-01-02,f,$59.00,$59.00,30,1125
1096,39938,2020-01-03,f,$59.00,$59.00,30,1125
1097,39938,2020-01-04,f,$59.00,$59.00,30,1125
1098,39938,2020-01-05,f,$59.00,$59.00,30,1125
1099,39938,2020-01-06,f,$59.00,$59.00,30,1125
...,...,...,...,...,...,...,...
1455,39938,2020-12-27,f,$59.00,$59.00,30,1125
1456,39938,2020-12-28,f,$59.00,$59.00,30,1125
1457,39938,2020-12-29,f,$59.00,$59.00,30,1125
1458,39938,2020-12-30,f,$59.00,$59.00,30,1125
1459,39938,2020-12-31,f,$59.00,$59.00,30,1125

In [43]:
calendar_content.head(1)
calendar_content.date.max()

'2020-12-31'

In [44]:
calendar_content.loc[(calendar_content.date >= '2020-01-01') & (calendar_content.date <= '2020-12-31')]
# calendar date is for the year of 2020

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,16688,2020-01-02,t,$239.00,$239.00,2,365
1,16688,2020-01-03,t,$239.00,$239.00,2,365
2,16688,2020-01-04,t,$239.00,$239.00,2,365
3,16688,2020-01-05,t,$239.00,$239.00,2,365
4,16688,2020-01-06,t,$239.00,$239.00,2,365
...,...,...,...,...,...,...,...
1670965,41230075,2020-12-27,f,$300.00,$300.00,2,8
1670966,41230075,2020-12-28,f,$300.00,$300.00,2,8
1670967,41230075,2020-12-29,f,$300.00,$300.00,2,8
1670968,41230075,2020-12-30,f,$300.00,$300.00,2,8
1670969,41230075,2020-12-31,f,$300.00,$300.00,2,8

In [45]:
calendar_content.to_csv('calendar_cleaned.csv',index=False)

## NOTES

In [ ]:
'''Grouping by host_id gets rid of repeat ids, but elimated that hosts will have multipl properties'''
# # Grouping by host_id, some hosts have more than one listing
# list1 = listings.groupby(['host_id'])
# list1.last()

In [7]:
# Some listings were listed that they weren't available
# listings = listings.loc[listings.availability_365 > 0]
# listings.head(1)

,id,name,host_id,host_name,neighborhood,latitude,longitude,room_type,price,number_of_reviews,calculated_host_listings_count,availability_365
0,16688,"Beautiful condo in downtown Pearl, NW Portland",64840,Ashish,Pearl,45.52542,-122.68557,Entire home/apt,275,78,1,362